.header-mobile {
    padding: 0;
}
.header {
    display: flex;
    width: 100%;
    height: 84px;
    background-color: #eff3ff;
    justify-content: space-around;
}

.header .action {
    margin-right: -10px;
}

.content .title {
    margin: auto;
    font-size: 3rem;
    width: 503px;
    text-align: center;
}

.content .sub-title {
    margin-top: 20px;
    width: 500px;
    font-size: 2rem;
    font-weight: 500;
}

.content .action a{
    padding: 15px 20px;
}

.content .action .action-link {
    font-weight: 500;
}

.services .list-services {
    display: block;
}

.services .services-item {
    margin-bottom: 50px;
}

.services .services-item .title {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.services .services-item .sub-title{
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    margin: auto;
}

.services .services-item img {
    width: 80px;
    margin-top: 40px;
}

.services .services-item a {
    display: inline-block;
    font-size: 3rem;
    padding: 10px 20px;
}

.services .desc {
    font-size: 2rem;
    font-weight: 600;
}


.stats {
    display: block;
    margin-top: 100px;
}

.stats .contact a {
    padding: 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.stats img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.stats .mobile {
    padding: 0;
    margin-top: 20px;
}

.stats .mobile .title {
    width: 100%;
    text-align: center;
}

.stats .mobile .sub-title {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.stats .mobile .desc {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
}

.stats-second {
    display: block;
    width: 100%;
}

.stats-second .stats-info {
    text-align: center;
}

.stats-second .stats-info .title {
    width: 100%;
}

.stats-second .method-list {
    display: block;
}

.stats-second .method-list .method-item {
    margin-bottom: 70px;
}

.stats-second .method-list .desc {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    margin: -20px auto;
}

.stats-second .img-mobile {
    padding: 0;
    display: block;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.stats-second .method-item .mobile-img {
    width: 80px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    transform: translateX(40px);
    margin: 100px auto 0;
}

.footer .footer-mobile{
    display: inline-block;
    margin: 0 auto;
}

.footer .footer-mobile .title {
    font-size: 3rem;
    margin-top: -20px;
}

.footer .footer-mobile .desc {
    margin-top: -10px;
    font-size: 2rem;
    font-weight: 500;
}
